body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}
.fa-regular {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap: wrap;
}
/* card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    object-fit: cover !important;
    width: 100% !important;
}
.card-body {
    padding: 0 !important;
}
.card-texp p {
    font-weight: 400 !important;
}
.listing-link {
    text-decoration: none;
}
/* card-style */
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* add listing */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* edit listing */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* show listing */

.show-img {
    height: 30vh;
}
.btns {
    display: flex;
}
.hello {
    height: 2.4rem !important;
    width: 5rem !important;
}
.show-card {
    padding-left: 0;
    padding-right: 0;
}


/* edit form page image display */

.editImageDisplay{
    max-height: 100px !important;
    max-width: 250px;
}

/* map */

#map {
    height: 400px;
    width: 80vh;
}